html {
  background-color: #3F51B5;
  color: white;
};

ul {
  list-style: none;
}

#new-form {
  color: black;
  display: hidden;
};

.contact-card {
  background-color: #536DFE;
  height: 50px;
  width: 140px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 5px;
};
