<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript">
    </script>
</head>


<h1>Home Page</h1>

<body>
<form id="new-form" action="/contacts" method="post">
    <label>First Name</label>  <br>
  <input id="form-firstname" name="firstname" type="text"><br>
   <label> Last Name </label> <br>
  <input id="form-lastname" name="lastname" type="text"><br>
  <label> Phone </label> <br>
  <input id="form-phone"> <br>
  <label> E-mail </label> <br>
  <input id="form-email"> <br>
  <input name="submit" type="submit">
</form>

<h1> Contacts </h1>


</body>