<h1>Home Page</h1>

 <ul>
<% @contacts.each do |contact| %>
    <li>
      <%="Name: #{contact.firstname} #{contact.lastname}"%>
      <%="Phone: #{contact.phone}"%>
      <%="E-mail: #{contact.email}"%>
    </li>
 <% end %>
 </ul>


<!-- <div>
    <div id="new-contact">
      <p>new contact</p>
    </div>
    <div id="delete-contact">
      <p> delete contact </p>
    </div>
    <div id="update-contact">
      <p> update contact </p>
    </div>
    <div id="delete-show">
      <p> show contacts </p>
    </div>
</div> -->