<h1>Home Page</h1>


<% @contacts.each do |contact| %>
<div><%="Name: #{contact.firstname} #{contact.lastname}  "%></div>
<% end %>


<!-- <div>
    <div id="new-contact">
      <p>new contact</p>
    </div>
    <div id="delete-contact">
      <p> delete contact </p>
    </div>
    <div id="update-contact">
      <p> update contact </p>
    </div>
    <div id="delete-show">
      <p> show contacts </p>
    </div>
</div> -->